* {
    font-family: Helvetica, sans-serif; 
    color: seashell;
    background-color: black;
    opacity: 0.9;
   
}

header {
    position: fixed;
    height: 69px;
    top: -2px;
    display: inline-flex;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid seashell;
    
}
#logo {
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
    width: 20%
}
#navigation {
    width: 80%;
    text-align: right;
    margin-right: 20px;
}
#navigation ul {
    list-style-type: none;
}
a {
    text-decoration: underline;
    padding: 15px;
    font-size: 22px;
}

a:hover {
    color: lightblue;
    text-decoration: none;
}

#banner {
    background-image: url('./img/img-mission-background.jpg');
    
    height: 700px;
    width: 1200px;
    display: inline-flex;
    align-items: center;
}
.banner-text {
   text-align: center;
   width: 100%;
}

.teaMonthText {
    text-align: center;
    width: 100%;
    margin-top: 80px;
}

.teaMonth {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teaMonthImg {
    margin: 10px;
} 
.teaMonthImg p {
    text-align: center;
}

img {
    width: 300px;
    height: 200px;
}

.location {
    background-image: url('./img/img-locations-background.jpg');
    width: 100%;
    height: 500px;
    text-align: center;
}

.location h2 {
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: transparent;
}

.loc {
    width: 300px;
    margin: 15px 20px;
    display: inline-block;
    text-align: center;
}

.loc p {
    line-height: 4em;
}
