* {
    font-family: Helvetica, sans-serif; 
    color: seashell;
    background-color: black;
    opacity: 0.9;
   
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

header {
    position: fixed;
    height: 69px;
    top: -2px;
    display: inline-flex;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid seashell;
    
}
#logo {
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
}
#navigation {
    width: 85%;
    text-align: right;
}
#navigation ul {
    list-style-type: none;
    margin-top: 25px;
}
a {
    text-decoration: underline;
    padding: 15px;
    font-size: 22px;
}

a:hover {
    color: lightblue;
    text-decoration: none;
}

.banner {
    background-image: url('./img/img-mission-background.jpg');
    
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
#banner {
    background-image: url('./img/img-mission-background.jpg');
    
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}
.banner-text {
   text-align: center;
   width: 100%;
}

.teaMonthText {
    text-align: center;
    width: 100%;
    margin: 40px 15px;
}

.teaMonth {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teaMonthImg {
    margin: 10px;
} 
.teaMonthImg p {
    text-align: center;
}

.teaMonth img {
    width: 300px;
    height: 200px;
}

.location {
    background-image: url('./img/img-locations-background.jpg');
    width: 1200px;
    margin: 0 auto;
    height: 520px;
    padding-top: 50px;
    text-align: center;
}

.location h2 {
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: transparent;
}

.loc {
    width: 300px;
    margin: 15px 20px;
    display: inline-block;
    text-align: center;
}

.loc p {
    line-height: 4em;
}

footer {
    position: absolute;
    height: 200px;
    width: 100%;
    text-align: center;
}

footer h5 {
    line-height: 2.5em;
    font-size: 16px;
}
footer p {
    text-align: left;
    margin-left: 20px;
}